<!doctype html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	</head>
	<body>
		<div id="page">
			#parse("header.vm")
			<div id="content">
				xNode0: $!{xNode0}
				<br/>
				xNode1: $!{xNode1}
				<br/>
				xNode2: $!{xNode2}
			</div>
						
			<!--end of content-->
			#parse("footer.vm")
			<!--end of foot-->
	</body>
</html>

